.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 300px;
  max-width: 300px;
  border: 3px solid aquamarine;
  border-radius: 10px;

  &.fav {
    background-color: aquamarine;
    border: 3px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0px 0px 60px;
    animation: infinite borderAnimation 2s;

    @keyframes borderAnimation {
      0%,
      100% {
        box-shadow: 0px 0px 20px;
      }
      50% {
        box-shadow: 0px 0px 0px;
      }
    }

    button {
      background-color: lightgrey;
    }
  }

  &__title {
    margin-top: 10px;
  }

  &__img {
    width: 100%;
  }

  &__button {
    margin-top: 40px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: aquamarine;

    &--heart {
      display: inline-block;
      width: 20px;
      color: red;
    }
  }
}
