.header {
  width: 100%;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  background-color: aquamarine;

  @media (min-width: 760px) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;

    @media (min-width: 760px) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__logo {
    width: 40px;
    margin-bottom: 10px;

    @media (min-width: 760px) {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  &__title {
    font-family: "Special Elite", cursive;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    border-right: solid 3px black;
    white-space: nowrap;
    overflow: hidden;

    animation: animated-text 4s steps(29, end) 1s 1 normal both,
      animated-cursor 900ms steps(29, end) infinite;

    /* text animation */

    @keyframes animated-text {
      from {
        width: 0;
      }
      to {
        width: 190px;
      }
    }

    /* cursor animations */

    @keyframes animated-cursor {
      from {
        border-right-color: black;
      }
      to {
        border-right-color: transparent;
      }
    }

    @media (min-width: 760px) {
      margin-bottom: 0;
      text-align: left;
    }

    span {
      font-size: 20px;
    }
  }
}
