.initial-ideas {
  height: 80vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;

    // Animation info.
    border: 2px solid aquamarine;
    border-radius: 10px;
    box-shadow: 0px 0px 20px;
    animation: infinite borderAnimation 2s;

    @media (min-width: 760px) {
      padding: 40px 60px;
    }

    @keyframes borderAnimation {
      0%,
      100% {
        box-shadow: 0px 0px 20px;
      }
      50% {
        box-shadow: 0px 0px 0px;
      }
    }

    &--text {
      font-family: "Special Elite", cursive;
      margin-bottom: 20px;
      display: block;
      font-size: 30px;
      text-align: center;

      span {
        margin-top: 20px;
        display: block;
        font-size: 24px;
      }
    }

    &--recommendations {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Special Elite", cursive;
      font-size: 20px;
      margin-top: 40px;
      width: 100%;

      @media (min-width: 760px) {
        flex-direction: row;
        justify-content: center;
      }

      input {
        margin-right: 15px;
        margin-bottom: 20px;
        cursor: pointer;
      }

      label {
        text-transform: capitalize;
        margin-right: 15px;
      }
    }
  }
}
