:root {
  --background-color: #e1ad01;
  --card-color: orange;
}

// Reset.

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  max-width: 100vw;
}

.initial-ideas {
  padding: 50px;
  display: flex;
  justify-content: center;

  &__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--text {
      margin-bottom: 20px;
    }

    &--recommendations {
      width: 100%;
      display: flex;
      justify-content: space-between;

      input {
        margin-right: 5px;
      }

      label {
        text-transform: capitalize;
        margin-right: 15px;
      }
    }
  }
}
