:root {
  --background-color:#e1ad01;
  --card-color: orange;
}


body {
  background-color: var(--background-color);
  padding-bottom: 50px;
}

.app {
  &__container {
    width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 24px;

  &__logo {
    width: 70px;
  }

  &__title {
    color: black;

    span {
      font-style: italic;
    }
  }

}

.finder {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  
  &__input {
    width: 100%;
    height: 30px;
    padding: 3px 15px;
    text-align: center;
    background-color: lightgray;
    border-radius: 5px;
    border: none;
    color: black;
  }

  &-no-idea {
     
  }

  &__recommendations {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    
  }

  &__text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
  }

  label {
    margin-right: 10px;
    font-size: 13px;
    font-style: italic;
    cursor: pointer;
  }

  input[type="radio"] {
    margin-right: 4px;
    cursor: pointer;
  }
}

.favourites-container {
  width: 400px;
  margin: 30px 15px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: grey;

  h2 {
    text-align: center;
  }
}



.container {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.list-container {
  width: 700px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.card-container {
  position: relative;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: darkgrey;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;

  img {
  width: 200px;
  boder-radius: 10px;  
  }

  p {
    position: absolute;
    bottom: 0;
    color: var(--background-color);
    font-size: 10px;
    background-color: white;
  }
}

a {
  cursor: pointer;
}